Node-Red/flow_rev20.json
[{"id":"8c58a3eb.6d008","type":"tab","label":"Flow 10","disabled":false,"info":""},{"id":"6c97cec7.6e419","type":"inject","z":"8c58a3eb.6d008","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":170,"y":80,"wires":[["a48b7088.e4504"]]},{"id":"a48b7088.e4504","type":"function","z":"8c58a3eb.6d008","name":"Init_var_out","func":"var out0 = 1;\nvar out1 = 1;\nvar out2 = 1;\nvar out3 = 1;\nvar out4 = 1;\nvar out5 = 1;\nvar out6 = 1;\nvar out7 = 1;\nvar out0old = 0;\nvar out1old = 0;\nvar out2old = 0;\nvar out3old = 0;\nvar out4old = 0;\nvar out5old = 0;\nvar out6old = 0;\nvar out7old = 0;\n\nflow.set(['OUT0','OUT1','OUT2','OUT3','OUT4','OUT5','OUT6','OUT7'],[out0,out1,out2,out3,out4,out5,out6,out7]);\nflow.set(['OUT0OLD','OUT1OLD','OUT2OLD','OUT3OLD','OUT4OLD','OUT5OLD','OUT6OLD','OUT7OLD'],[out0old,out1old,out2old,out3old,out4old,out5old,out6old,out7old]);\nflow.set(['OUT0Type','OUT1Type','OUT2Type','OUT3Type','OUT4Type','OUT5Type','OUT6Type','OUT7Type'],[1,1,1,1,1,1,1,1]);\n//var varOUT = flow.get(['OUT0','OUT1','OUT2','OUT3','OUT4','OUT5','OUT6','OUT7']);\n//var led1 = varsin[0];\n//var led2 = varsin[1];\n//var led3 = varsin[2];\n\n//состояние железячного входа\nflow.set('inhvPINconf0',[0]);\nflow.set('inhvPINconf1',[0,1,2]);\nflow.set('inhvPINconf2',[2]);\nflow.set('inhvPINconf3',[3]);\nflow.set('inhvPINconf4',[4]);\nflow.set('inhvPINconf5',[5]);\nflow.set('inhvPINconf6',[6]);\nflow.set('inhvPINconf7',[7]);\n\n//состояние железячного выхода\nflow.set('outhvPIN0',0);\nflow.set('outhvPIN1',0);\nflow.set('outhvPIN2',0);\nflow.set('outhvPIN3',0);\nflow.set('outhvPIN4',0);\nflow.set('outhvPIN5',0);\nflow.set('outhvPIN6',0);\nflow.set('outhvPIN7',0);\n//предыдущее состояние железячного выхода\nflow.set('outhvPINOLD0',0);\nflow.set('outhvPINOLD1',0);\nflow.set('outhvPINOLD2',0);\nflow.set('outhvPINOLD3',0);\nflow.set('outhvPINOLD4',0);\nflow.set('outhvPINOLD5',0);\nflow.set('outhvPINOLD6',0);\nflow.set('outhvPINOLD7',0);\n//тип железячного входа\nflow.set('inhvPINType1',1);\nflow.set('inhvPINType2',1);\nflow.set('inhvPINType3',1);\nflow.set('inhvPINType4',1);\nflow.set('inhvPINType5',1);\nflow.set('inhvPINType6',1);\nflow.set('inhvPINType7',1);\n\n//состояние входа от блинка\nflow.set('inBlink1',0);\nflow.set('inBlink2',0);\nflow.set('inBlink3',0);\nflow.set('inBlink4',0);\nflow.set('inBlink5',0);\nflow.set('inBlink6',0);\nflow.set('inBlink7',0);\n\nflow.set('inBlinkOLD1',1);\nflow.set('inBlinkOLD2',1);\nflow.set('inBlinkOLD3',1);\nflow.set('inBlinkOLD4',1);\nflow.set('inBlinkOLD5',1);\nflow.set('inBlinkOLD6',1);\nflow.set('inBlinkOLD7',1);\n\n//состояние переключателя от дашбоард\nflow.set('inDashboard1',0);\nflow.set('inDashboard2',0);\nflow.set('inDashboard3',0);\nflow.set('inDashboard4',0);\nflow.set('inDashboard5',0);\nflow.set('inDashboard6',0);\nflow.set('inDashboard7',0);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[[]]},{"id":"4140614f.6263e","type":"inject","z":"8c58a3eb.6d008","name":"","topic":"","payload":"1","payloadType":"num","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2620,"wires":[["fe6354a6.f0bf38","e340ff0d.77bdf","bd8c3863.dfac38","94426d1.e67bb9","afbe6595.9be4d8","b556d627.a43588","a761497b.6c8dd8","ab825573.c003d8"]]},{"id":"fe6354a6.f0bf38","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '0';\nvar outhvPIN = flow.get('outhvPIN' + inNumber);\nvar outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(outhvPIN == 1){\n        outhvPIN = 0;\n    } else {\n        outhvPIN = 1;\n    }\n    msg1 = { payload: outhvPIN };\n    return msg1;\n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":380,"y":2380,"wires":[["2835696b.70c1e6"]]},{"id":"adc8f24b.d74b","type":"mcp23017output","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"2","invert":false,"x":650,"y":2500,"wires":[[]]},{"id":"1fc89d7e.2c1cf3","type":"mcp23017output","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"3","invert":false,"x":650,"y":2560,"wires":[[]]},{"id":"1ad89b18.4d92f5","type":"mcp23017output","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"4","invert":false,"x":650,"y":2680,"wires":[[]]},{"id":"7044c0c0.f70ad","type":"mcp23017output","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"5","invert":false,"x":650,"y":2740,"wires":[[]]},{"id":"60925deb.764744","type":"mcp23017output","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"6","invert":false,"x":650,"y":2800,"wires":[[]]},{"id":"56d17468.277ddc","type":"mcp23017output","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"7","invert":false,"x":650,"y":2860,"wires":[[]]},{"id":"dffd348e.635428","type":"comment","z":"8c58a3eb.6d008","name":"начальная установка","info":"","x":200,"y":40,"wires":[]},{"id":"8457de12.9aa88","type":"blynk-ws-out-write","z":"8c58a3eb.6d008","name":"","pin":"1","pinmode":0,"client":"41eb04a5.18d09c","x":580,"y":3020,"wires":[]},{"id":"e340ff0d.77bdf","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '1';\nvar outhvPIN = flow.get('outhvPIN' + inNumber);\nvar outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(outhvPIN == 1){\n        outhvPIN = 0;\n    } else {\n        outhvPIN = 1;\n    }\n    msg1 = { payload: outhvPIN };\n    return msg1;\n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":380,"y":2440,"wires":[["7f3c993b.c43a58"]]},{"id":"bd8c3863.dfac38","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '2';\nvar outhvPIN = flow.get('outhvPIN' + inNumber);\nvar outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(outhvPIN == 1){\n        outhvPIN = 0;\n    } else {\n        outhvPIN = 1;\n    }\n    msg1 = { payload: outhvPIN };\n    return msg1;\n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":380,"y":2500,"wires":[["adc8f24b.d74b"]]},{"id":"81c8e714.6064f8","type":"inject","z":"8c58a3eb.6d008","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":410,"y":2620,"wires":[["adc8f24b.d74b","1fc89d7e.2c1cf3","1ad89b18.4d92f5","7044c0c0.f70ad","60925deb.764744","56d17468.277ddc","2835696b.70c1e6","7f3c993b.c43a58"]]},{"id":"1f4b41f6.48203e","type":"inject","z":"8c58a3eb.6d008","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":3160,"wires":[["26c43b95.7da5c4","a2335edf.5f8de","682449ed.2445b8","8d78c1b2.8e262","d8edac7b.89bfa","ef7d311d.00281","55fc465.47a4cb8","fbd63223.ed8e6"]]},{"id":"51933202.e2c2bc","type":"blynk-ws-out-write","z":"8c58a3eb.6d008","name":"","pin":"0","pinmode":0,"client":"41eb04a5.18d09c","x":580,"y":2960,"wires":[]},{"id":"26c43b95.7da5c4","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '0';\nvar inBlink = flow.get('inBlink' + inNumber);\nvar inBlinkOLD = flow.get('inBlinkOLD' + inNumber);\n\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(inBlink != inBlinkOLD || inBlinkOLD === 'undefined') {\n        \n    flow.set('inBlinkOLD' + inNumber, inBlink);\n    //инвертируем для выхода\n    if(inBlink == 1){\n        inBlink = 1;\n    } else {\n        inBlink = 0;\n    }\n    msg1 = { payload: inBlink };\n    return msg1;\n}\n\n\n//return null;","outputs":1,"noerr":0,"x":380,"y":2960,"wires":[["51933202.e2c2bc"]]},{"id":"b3c91f96.1c711","type":"blynk-ws-out-write","z":"8c58a3eb.6d008","name":"","pin":"2","pinmode":0,"client":"41eb04a5.18d09c","x":580,"y":3080,"wires":[]},{"id":"172b8552.6064cb","type":"blynk-ws-out-write","z":"8c58a3eb.6d008","name":"","pin":"3","pinmode":0,"client":"41eb04a5.18d09c","x":580,"y":3140,"wires":[]},{"id":"dca20cf1.62855","type":"blynk-ws-out-write","z":"8c58a3eb.6d008","name":"","pin":"4","pinmode":0,"client":"41eb04a5.18d09c","x":580,"y":3200,"wires":[]},{"id":"d7421454.a59078","type":"blynk-ws-out-write","z":"8c58a3eb.6d008","name":"","pin":"5","pinmode":0,"client":"41eb04a5.18d09c","x":580,"y":3260,"wires":[]},{"id":"cc49504d.ef7a5","type":"blynk-ws-out-write","z":"8c58a3eb.6d008","name":"","pin":"6","pinmode":0,"client":"41eb04a5.18d09c","x":580,"y":3320,"wires":[]},{"id":"9c21e606.16f048","type":"blynk-ws-out-write","z":"8c58a3eb.6d008","name":"","pin":"7","pinmode":0,"client":"41eb04a5.18d09c","x":580,"y":3380,"wires":[]},{"id":"23f892b4.408f4e","type":"blynk-ws-in-write","z":"8c58a3eb.6d008","name":"","pin":"0","pin_all":false,"client":"41eb04a5.18d09c","x":190,"y":260,"wires":[["5603afa7.c9384"]]},{"id":"254995fc.18635a","type":"ui_switch","z":"8c58a3eb.6d008","name":"","label":"0","tooltip":"","group":"86ddfab8.5f3bd8","order":15,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":320,"wires":[["256369d3.09e586"]]},{"id":"5603afa7.c9384","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"blink","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":260,"wires":[["2292b5fd.4eb77a"]]},{"id":"3a1adf9a.7fc12","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"dashboard","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":320,"wires":[["2292b5fd.4eb77a"]]},{"id":"e6b0a115.6d1db","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"hvPIN","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":380,"wires":[["2292b5fd.4eb77a"]]},{"id":"2292b5fd.4eb77a","type":"function","z":"8c58a3eb.6d008","name":"","func":"//msg.blink\n//msg.dashboard\n//msg.hvPIN\n\nvar inNumber = '0';\n\n// inhvPINconf массив выходов на которые влияем\nvar inhvPINconf = flow.get('inhvPINconf' + inNumber);\n//inhvPINType тип входа P, S, P&S \n//P - команда выдается при замыкании (0)\n//S - команда выдается при размыкании (1)\n//P&S - команда выдается и при замыкании и при размыкании (2)\nvar inhvPINType = flow.get('inhvPINType' + inNumber);\n\n\nvar out0Name = 'OUT1';\nvar out0 = flow.get(out0Name);\nvar out0Type = flow.get(out0Name+'Type');\n//проверим определен ли тип выключателя\n//0 - тактовая кнопка\n//1 - переключатель\nif( typeof out0Type === 'undefined') {\n    out0Type = 1;\n}\n\nif(msg.blink){\n    //приходит текст \"1\" или \"0\"\n    //обновим состояние входа\n    //node.warn(\"msg.blink: \" + msg.blink);\n    var inBlink = flow.get('inBlink' + inNumber);\n    //node.warn(\"до inBlink: \" + inBlink);\n    if(msg.blink == '1'){\n        inBlink = 1;\n    } else if(msg.blink == '0') {\n        inBlink = 0;\n    }\n    //node.warn(\"после inBlink: \" + inBlink);\n    flow.set('inBlink' + inNumber, inBlink);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inBlink);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inBlink);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inBlink);\n\n    }\n    \n    //node.warn('outhvPIN0 = ' + flow.get('outhvPIN0') + ' ' + 'outhvPIN1 = ' + flow.get('outhvPIN1') );\n\n}\nif(msg.dashboard){\n    //node.warn(\"msg.dashboard: \" + msg.dashboard);\n    var inDashboard = flow.get('inDashboard' + inNumber);\n    inDashboard = 0;\n    if(msg.dashboard == 1){\n        inDashboard = 1;\n    } else if(msg.dashboard === '0') {\n        //почемуто так не работает\n        //node.warn(\"почемуто так не работает\");\n        inDashboard = 0;\n    }\n    flow.set('inDashboard' + inNumber, inDashboard);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inDashboard);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inDashboard);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inDashboard);\n\n    }\n\n    \n}\nif(msg.hvPIN){\n    //node.warn(\"msg.hvPIN: \" + msg.hvPIN);\n    var inhvPIN = flow.get('inhvPIN' + inNumber);\n    inhvPIN = 0;\n    if(msg.hvPIN == 1){\n        inhvPIN = 1;\n    } else if(msg.hvPIN === '0') {\n        //почемуто без кавычек не работает \n        inhvPIN = 0;\n    }\n    flow.set('inhvPIN' + inNumber, inhvPIN);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inhvPIN);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inhvPIN);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inhvPIN);\n\n    }\n\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":320,"wires":[[]]},{"id":"256369d3.09e586","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":320,"wires":[["3a1adf9a.7fc12"]]},{"id":"91ce60b5.05179","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '0';\nvar inDashboard = flow.get('inDashboard' + inNumber);\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\n//if(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n//    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(inDashboard == 1){\n        inDashboard = true;\n    } else {\n        inDashboard = false;\n    }\n    msg1 = { payload: inDashboard };\n    return msg1;\n//}\n\n\n//return null;","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["254995fc.18635a"]]},{"id":"f8d68c98.fee88","type":"inject","z":"8c58a3eb.6d008","name":"","topic":"","payload":"1","payloadType":"num","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["91ce60b5.05179"]]},{"id":"2835696b.70c1e6","type":"mcp23017output","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"0","invert":false,"x":650,"y":2380,"wires":[[]]},{"id":"7f3c993b.c43a58","type":"mcp23017output","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"1","invert":false,"x":650,"y":2440,"wires":[[]]},{"id":"a2335edf.5f8de","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '1';\nvar inBlink = flow.get('inBlink' + inNumber);\nvar inBlinkOLD = flow.get('inBlinkOLD' + inNumber);\n\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(inBlink != inBlinkOLD || inBlinkOLD === 'undefined') {\n        \n    flow.set('inBlinkOLD' + inNumber, inBlink);\n    //инвертируем для выхода\n    if(inBlink == 1){\n        inBlink = 1;\n    } else {\n        inBlink = 0;\n    }\n    msg1 = { payload: inBlink };\n    return msg1;\n}\n\n\n//return null;","outputs":1,"noerr":0,"x":380,"y":3020,"wires":[["8457de12.9aa88"]]},{"id":"682449ed.2445b8","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '2';\nvar inBlink = flow.get('inBlink' + inNumber);\nvar inBlinkOLD = flow.get('inBlinkOLD' + inNumber);\n\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(inBlink != inBlinkOLD || inBlinkOLD === 'undefined') {\n        \n    flow.set('inBlinkOLD' + inNumber, inBlink);\n    //инвертируем для выхода\n    if(inBlink == 1){\n        inBlink = 1;\n    } else {\n        inBlink = 0;\n    }\n    msg1 = { payload: inBlink };\n    return msg1;\n}\n\n\n//return null;","outputs":1,"noerr":0,"x":380,"y":3080,"wires":[["b3c91f96.1c711"]]},{"id":"8d78c1b2.8e262","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '3';\nvar inBlink = flow.get('inBlink' + inNumber);\nvar inBlinkOLD = flow.get('inBlinkOLD' + inNumber);\n\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(inBlink != inBlinkOLD || inBlinkOLD === 'undefined') {\n        \n    flow.set('inBlinkOLD' + inNumber, inBlink);\n    //инвертируем для выхода\n    if(inBlink == 1){\n        inBlink = 1;\n    } else {\n        inBlink = 0;\n    }\n    msg1 = { payload: inBlink };\n    return msg1;\n}\n\n\n//return null;","outputs":1,"noerr":0,"x":380,"y":3140,"wires":[["172b8552.6064cb"]]},{"id":"d8edac7b.89bfa","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '4';\nvar inBlink = flow.get('inBlink' + inNumber);\nvar inBlinkOLD = flow.get('inBlinkOLD' + inNumber);\n\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(inBlink != inBlinkOLD || inBlinkOLD === 'undefined') {\n        \n    flow.set('inBlinkOLD' + inNumber, inBlink);\n    //инвертируем для выхода\n    if(inBlink == 1){\n        inBlink = 1;\n    } else {\n        inBlink = 0;\n    }\n    msg1 = { payload: inBlink };\n    return msg1;\n}\n\n\n//return null;","outputs":1,"noerr":0,"x":380,"y":3200,"wires":[["dca20cf1.62855"]]},{"id":"ef7d311d.00281","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '5';\nvar inBlink = flow.get('inBlink' + inNumber);\nvar inBlinkOLD = flow.get('inBlinkOLD' + inNumber);\n\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(inBlink != inBlinkOLD || inBlinkOLD === 'undefined') {\n        \n    flow.set('inBlinkOLD' + inNumber, inBlink);\n    //инвертируем для выхода\n    if(inBlink == 1){\n        inBlink = 1;\n    } else {\n        inBlink = 0;\n    }\n    msg1 = { payload: inBlink };\n    return msg1;\n}\n\n\n//return null;","outputs":1,"noerr":0,"x":380,"y":3260,"wires":[["d7421454.a59078"]]},{"id":"55fc465.47a4cb8","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '6';\nvar inBlink = flow.get('inBlink' + inNumber);\nvar inBlinkOLD = flow.get('inBlinkOLD' + inNumber);\n\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(inBlink != inBlinkOLD || inBlinkOLD === 'undefined') {\n        \n    flow.set('inBlinkOLD' + inNumber, inBlink);\n    //инвертируем для выхода\n    if(inBlink == 1){\n        inBlink = 1;\n    } else {\n        inBlink = 0;\n    }\n    msg1 = { payload: inBlink };\n    return msg1;\n}\n\n\n//return null;","outputs":1,"noerr":0,"x":380,"y":3320,"wires":[["cc49504d.ef7a5"]]},{"id":"fbd63223.ed8e6","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '7';\nvar inBlink = flow.get('inBlink' + inNumber);\nvar inBlinkOLD = flow.get('inBlinkOLD' + inNumber);\n\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(inBlink != inBlinkOLD || inBlinkOLD === 'undefined') {\n        \n    flow.set('inBlinkOLD' + inNumber, inBlink);\n    //инвертируем для выхода\n    if(inBlink == 1){\n        inBlink = 1;\n    } else {\n        inBlink = 0;\n    }\n    msg1 = { payload: inBlink };\n    return msg1;\n}\n\n\n//return null;","outputs":1,"noerr":0,"x":380,"y":3380,"wires":[["9c21e606.16f048"]]},{"id":"94426d1.e67bb9","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '3';\nvar outhvPIN = flow.get('outhvPIN' + inNumber);\nvar outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(outhvPIN == 1){\n        outhvPIN = 0;\n    } else {\n        outhvPIN = 1;\n    }\n    msg1 = { payload: outhvPIN };\n    return msg1;\n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":380,"y":2560,"wires":[["1fc89d7e.2c1cf3"]]},{"id":"afbe6595.9be4d8","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '4';\nvar outhvPIN = flow.get('outhvPIN' + inNumber);\nvar outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(outhvPIN == 1){\n        outhvPIN = 0;\n    } else {\n        outhvPIN = 1;\n    }\n    msg1 = { payload: outhvPIN };\n    return msg1;\n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":380,"y":2680,"wires":[["1ad89b18.4d92f5"]]},{"id":"b556d627.a43588","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '5';\nvar outhvPIN = flow.get('outhvPIN' + inNumber);\nvar outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(outhvPIN == 1){\n        outhvPIN = 0;\n    } else {\n        outhvPIN = 1;\n    }\n    msg1 = { payload: outhvPIN };\n    return msg1;\n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":380,"y":2740,"wires":[["7044c0c0.f70ad"]]},{"id":"a761497b.6c8dd8","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '6';\nvar outhvPIN = flow.get('outhvPIN' + inNumber);\nvar outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(outhvPIN == 1){\n        outhvPIN = 0;\n    } else {\n        outhvPIN = 1;\n    }\n    msg1 = { payload: outhvPIN };\n    return msg1;\n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":380,"y":2800,"wires":[["60925deb.764744"]]},{"id":"ab825573.c003d8","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '7';\nvar outhvPIN = flow.get('outhvPIN' + inNumber);\nvar outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\nif(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(outhvPIN == 1){\n        outhvPIN = 0;\n    } else {\n        outhvPIN = 1;\n    }\n    msg1 = { payload: outhvPIN };\n    return msg1;\n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":380,"y":2860,"wires":[["56d17468.277ddc"]]},{"id":"bb7228c2.a155f8","type":"comment","z":"8c58a3eb.6d008","name":"модуль обработки входов","info":"читаем из виртуального пина блинк\nчитаем из свича дашборда\nчитаем хардверный пин\n\nвизуализируем все компоненты в зависимости от поданых сигналов","x":210,"y":220,"wires":[]},{"id":"877e72d9.b3ec","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":380,"wires":[["e6b0a115.6d1db"]]},{"id":"3375594a.a6fab6","type":"mcp23017input","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"8","pullUp":true,"invert":true,"debounce":200,"onMsg":true,"offMsg":true,"x":180,"y":380,"wires":[["877e72d9.b3ec","b7ddd620.2207b8"]]},{"id":"b7ddd620.2207b8","type":"trigger","z":"8c58a3eb.6d008","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"900","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":400,"y":420,"wires":[["877e72d9.b3ec"]]},{"id":"db5d1d16.cb397","type":"blynk-ws-in-write","z":"8c58a3eb.6d008","name":"","pin":"1","pin_all":false,"client":"41eb04a5.18d09c","x":190,"y":520,"wires":[["d852e488.6dc5a8"]]},{"id":"472cbbfa.699724","type":"ui_switch","z":"8c58a3eb.6d008","name":"","label":"1","tooltip":"","group":"86ddfab8.5f3bd8","order":15,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":580,"wires":[["960de659.066028"]]},{"id":"d852e488.6dc5a8","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"blink","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":520,"wires":[["fc3f65a1.f74c38"]]},{"id":"6aba5fec.1de3c","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"dashboard","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":580,"wires":[["fc3f65a1.f74c38"]]},{"id":"467ce9e9.e19ad8","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"hvPIN","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":640,"wires":[["fc3f65a1.f74c38"]]},{"id":"fc3f65a1.f74c38","type":"function","z":"8c58a3eb.6d008","name":"","func":"//msg.blink\n//msg.dashboard\n//msg.hvPIN\n\nvar inNumber = '1';\n\n// inhvPINconf массив выходов на которые влияем\nvar inhvPINconf = flow.get('inhvPINconf' + inNumber);\n//inhvPINType тип входа P, S, P&S \n//P - команда выдается при замыкании (0)\n//S - команда выдается при размыкании (1)\n//P&S - команда выдается и при замыкании и при размыкании (2)\nvar inhvPINType = flow.get('inhvPINType' + inNumber);\n\n\nvar out0Name = 'OUT1';\nvar out0 = flow.get(out0Name);\nvar out0Type = flow.get(out0Name+'Type');\n//проверим определен ли тип выключателя\n//0 - тактовая кнопка\n//1 - переключатель\nif( typeof out0Type === 'undefined') {\n    out0Type = 1;\n}\n\nif(msg.blink){\n    //приходит текст \"1\" или \"0\"\n    //обновим состояние входа\n    //node.warn(\"msg.blink: \" + msg.blink);\n    var inBlink = flow.get('inBlink' + inNumber);\n    //node.warn(\"до inBlink: \" + inBlink);\n    if(msg.blink == '1'){\n        inBlink = 1;\n    } else if(msg.blink == '0') {\n        inBlink = 0;\n    }\n    //node.warn(\"после inBlink: \" + inBlink);\n    flow.set('inBlink' + inNumber, inBlink);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inBlink);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inBlink);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inBlink);\n\n    }\n    \n    //node.warn('outhvPIN0 = ' + flow.get('outhvPIN0') + ' ' + 'outhvPIN1 = ' + flow.get('outhvPIN1') );\n\n}\nif(msg.dashboard){\n    //node.warn(\"msg.dashboard: \" + msg.dashboard);\n    var inDashboard = flow.get('inDashboard' + inNumber);\n    inDashboard = 0;\n    if(msg.dashboard == 1){\n        inDashboard = 1;\n    } else if(msg.dashboard === '0') {\n        //почемуто так не работает\n        //node.warn(\"почемуто так не работает\");\n        inDashboard = 0;\n    }\n    flow.set('inDashboard' + inNumber, inDashboard);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inDashboard);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inDashboard);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inDashboard);\n\n    }\n\n    \n}\nif(msg.hvPIN){\n    //node.warn(\"msg.hvPIN: \" + msg.hvPIN);\n    var inhvPIN = flow.get('inhvPIN' + inNumber);\n    inhvPIN = 0;\n    if(msg.hvPIN == 1){\n        inhvPIN = 1;\n    } else if(msg.hvPIN === '0') {\n        //почемуто без кавычек не работает \n        inhvPIN = 0;\n    }\n    flow.set('inhvPIN' + inNumber, inhvPIN);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inhvPIN);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inhvPIN);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inhvPIN);\n\n    }\n\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":580,"wires":[[]]},{"id":"960de659.066028","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":580,"wires":[["6aba5fec.1de3c"]]},{"id":"b40109bc.b37de8","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '1';\nvar inDashboard = flow.get('inDashboard' + inNumber);\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\n//if(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n//    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(inDashboard == 1){\n        inDashboard = true;\n    } else {\n        inDashboard = false;\n    }\n    msg1 = { payload: inDashboard };\n    return msg1;\n//}\n\n\n//return null;","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["472cbbfa.699724"]]},{"id":"1536246f.607f1c","type":"inject","z":"8c58a3eb.6d008","name":"","topic":"","payload":"1","payloadType":"num","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":580,"wires":[["b40109bc.b37de8"]]},{"id":"72183537.7fd82c","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":640,"wires":[["467ce9e9.e19ad8"]]},{"id":"df7dc5cb.6b67a8","type":"mcp23017input","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"9","pullUp":true,"invert":true,"debounce":200,"onMsg":true,"offMsg":true,"x":180,"y":640,"wires":[["72183537.7fd82c","9ddcca61.d4fb68"]]},{"id":"9ddcca61.d4fb68","type":"trigger","z":"8c58a3eb.6d008","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"900","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":400,"y":680,"wires":[["72183537.7fd82c"]]},{"id":"11f9dca1.e1f443","type":"blynk-ws-in-write","z":"8c58a3eb.6d008","name":"","pin":"2","pin_all":false,"client":"41eb04a5.18d09c","x":190,"y":780,"wires":[["e6cb82a3.9e304"]]},{"id":"a6f0784a.3ab958","type":"ui_switch","z":"8c58a3eb.6d008","name":"","label":"2","tooltip":"","group":"86ddfab8.5f3bd8","order":15,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":840,"wires":[["3ee12ce2.771174"]]},{"id":"e6cb82a3.9e304","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"blink","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":780,"wires":[["a7b97e02.3e688"]]},{"id":"4ec8b01e.980cf","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"dashboard","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":840,"wires":[["a7b97e02.3e688"]]},{"id":"e9828c83.1a51c","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"hvPIN","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":900,"wires":[["a7b97e02.3e688"]]},{"id":"a7b97e02.3e688","type":"function","z":"8c58a3eb.6d008","name":"","func":"//msg.blink\n//msg.dashboard\n//msg.hvPIN\n\nvar inNumber = '2';\n\n// inhvPINconf массив выходов на которые влияем\nvar inhvPINconf = flow.get('inhvPINconf' + inNumber);\n//inhvPINType тип входа P, S, P&S \n//P - команда выдается при замыкании (0)\n//S - команда выдается при размыкании (1)\n//P&S - команда выдается и при замыкании и при размыкании (2)\nvar inhvPINType = flow.get('inhvPINType' + inNumber);\n\n\nvar out0Name = 'OUT1';\nvar out0 = flow.get(out0Name);\nvar out0Type = flow.get(out0Name+'Type');\n//проверим определен ли тип выключателя\n//0 - тактовая кнопка\n//1 - переключатель\nif( typeof out0Type === 'undefined') {\n    out0Type = 1;\n}\n\nif(msg.blink){\n    //приходит текст \"1\" или \"0\"\n    //обновим состояние входа\n    //node.warn(\"msg.blink: \" + msg.blink);\n    var inBlink = flow.get('inBlink' + inNumber);\n    //node.warn(\"до inBlink: \" + inBlink);\n    if(msg.blink == '1'){\n        inBlink = 1;\n    } else if(msg.blink == '0') {\n        inBlink = 0;\n    }\n    //node.warn(\"после inBlink: \" + inBlink);\n    flow.set('inBlink' + inNumber, inBlink);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inBlink);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inBlink);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inBlink);\n\n    }\n    \n    //node.warn('outhvPIN0 = ' + flow.get('outhvPIN0') + ' ' + 'outhvPIN1 = ' + flow.get('outhvPIN1') );\n\n}\nif(msg.dashboard){\n    //node.warn(\"msg.dashboard: \" + msg.dashboard);\n    var inDashboard = flow.get('inDashboard' + inNumber);\n    inDashboard = 0;\n    if(msg.dashboard == 1){\n        inDashboard = 1;\n    } else if(msg.dashboard === '0') {\n        //почемуто так не работает\n        //node.warn(\"почемуто так не работает\");\n        inDashboard = 0;\n    }\n    flow.set('inDashboard' + inNumber, inDashboard);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inDashboard);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inDashboard);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inDashboard);\n\n    }\n\n    \n}\nif(msg.hvPIN){\n    //node.warn(\"msg.hvPIN: \" + msg.hvPIN);\n    var inhvPIN = flow.get('inhvPIN' + inNumber);\n    inhvPIN = 0;\n    if(msg.hvPIN == 1){\n        inhvPIN = 1;\n    } else if(msg.hvPIN === '0') {\n        //почемуто без кавычек не работает \n        inhvPIN = 0;\n    }\n    flow.set('inhvPIN' + inNumber, inhvPIN);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inhvPIN);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inhvPIN);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inhvPIN);\n\n    }\n\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":840,"wires":[[]]},{"id":"3ee12ce2.771174","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":840,"wires":[["4ec8b01e.980cf"]]},{"id":"21a60372.da945c","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '2';\nvar inDashboard = flow.get('inDashboard' + inNumber);\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\n//if(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n//    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(inDashboard == 1){\n        inDashboard = true;\n    } else {\n        inDashboard = false;\n    }\n    msg1 = { payload: inDashboard };\n    return msg1;\n//}\n\n\n//return null;","outputs":1,"noerr":0,"x":320,"y":840,"wires":[["a6f0784a.3ab958"]]},{"id":"712c4add.65a974","type":"inject","z":"8c58a3eb.6d008","name":"","topic":"","payload":"1","payloadType":"num","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":840,"wires":[["21a60372.da945c"]]},{"id":"67f0626f.8c16cc","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":900,"wires":[["e9828c83.1a51c"]]},{"id":"d5d03786.425848","type":"mcp23017input","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"10","pullUp":true,"invert":true,"debounce":200,"onMsg":true,"offMsg":true,"x":180,"y":900,"wires":[["67f0626f.8c16cc","f3ff2e83.ca456"]]},{"id":"f3ff2e83.ca456","type":"trigger","z":"8c58a3eb.6d008","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"900","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":400,"y":940,"wires":[["67f0626f.8c16cc"]]},{"id":"32f815a5.8eab7a","type":"blynk-ws-in-write","z":"8c58a3eb.6d008","name":"","pin":"3","pin_all":false,"client":"41eb04a5.18d09c","x":190,"y":1040,"wires":[["dac164a5.c602c8"]]},{"id":"bae95740.030368","type":"ui_switch","z":"8c58a3eb.6d008","name":"","label":"3","tooltip":"","group":"86ddfab8.5f3bd8","order":15,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":1100,"wires":[["eb5e3b45.40c628"]]},{"id":"dac164a5.c602c8","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"blink","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1040,"wires":[["11af0b2a.8b0585"]]},{"id":"dd06157a.7f2768","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"dashboard","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1100,"wires":[["11af0b2a.8b0585"]]},{"id":"586706bf.e88258","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"hvPIN","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1160,"wires":[["11af0b2a.8b0585"]]},{"id":"11af0b2a.8b0585","type":"function","z":"8c58a3eb.6d008","name":"","func":"//msg.blink\n//msg.dashboard\n//msg.hvPIN\n\nvar inNumber = '3';\n\n// inhvPINconf массив выходов на которые влияем\nvar inhvPINconf = flow.get('inhvPINconf' + inNumber);\n//inhvPINType тип входа P, S, P&S \n//P - команда выдается при замыкании (0)\n//S - команда выдается при размыкании (1)\n//P&S - команда выдается и при замыкании и при размыкании (2)\nvar inhvPINType = flow.get('inhvPINType' + inNumber);\n\n\nvar out0Name = 'OUT1';\nvar out0 = flow.get(out0Name);\nvar out0Type = flow.get(out0Name+'Type');\n//проверим определен ли тип выключателя\n//0 - тактовая кнопка\n//1 - переключатель\nif( typeof out0Type === 'undefined') {\n    out0Type = 1;\n}\n\nif(msg.blink){\n    //приходит текст \"1\" или \"0\"\n    //обновим состояние входа\n    //node.warn(\"msg.blink: \" + msg.blink);\n    var inBlink = flow.get('inBlink' + inNumber);\n    //node.warn(\"до inBlink: \" + inBlink);\n    if(msg.blink == '1'){\n        inBlink = 1;\n    } else if(msg.blink == '0') {\n        inBlink = 0;\n    }\n    //node.warn(\"после inBlink: \" + inBlink);\n    flow.set('inBlink' + inNumber, inBlink);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inBlink);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inBlink);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inBlink);\n\n    }\n    \n    //node.warn('outhvPIN0 = ' + flow.get('outhvPIN0') + ' ' + 'outhvPIN1 = ' + flow.get('outhvPIN1') );\n\n}\nif(msg.dashboard){\n    //node.warn(\"msg.dashboard: \" + msg.dashboard);\n    var inDashboard = flow.get('inDashboard' + inNumber);\n    inDashboard = 0;\n    if(msg.dashboard == 1){\n        inDashboard = 1;\n    } else if(msg.dashboard === '0') {\n        //почемуто так не работает\n        //node.warn(\"почемуто так не работает\");\n        inDashboard = 0;\n    }\n    flow.set('inDashboard' + inNumber, inDashboard);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inDashboard);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inDashboard);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inDashboard);\n\n    }\n\n    \n}\nif(msg.hvPIN){\n    //node.warn(\"msg.hvPIN: \" + msg.hvPIN);\n    var inhvPIN = flow.get('inhvPIN' + inNumber);\n    inhvPIN = 0;\n    if(msg.hvPIN == 1){\n        inhvPIN = 1;\n    } else if(msg.hvPIN === '0') {\n        //почемуто без кавычек не работает \n        inhvPIN = 0;\n    }\n    flow.set('inhvPIN' + inNumber, inhvPIN);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inhvPIN);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inhvPIN);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inhvPIN);\n\n    }\n\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1100,"wires":[[]]},{"id":"eb5e3b45.40c628","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1100,"wires":[["dd06157a.7f2768"]]},{"id":"3d2d4990.7adbf6","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '3';\nvar inDashboard = flow.get('inDashboard' + inNumber);\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\n//if(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n//    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(inDashboard == 1){\n        inDashboard = true;\n    } else {\n        inDashboard = false;\n    }\n    msg1 = { payload: inDashboard };\n    return msg1;\n//}\n\n\n//return null;","outputs":1,"noerr":0,"x":320,"y":1100,"wires":[["bae95740.030368"]]},{"id":"73aa194c.3e5748","type":"inject","z":"8c58a3eb.6d008","name":"","topic":"","payload":"1","payloadType":"num","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1100,"wires":[["3d2d4990.7adbf6"]]},{"id":"77b59672.ee0e38","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1160,"wires":[["586706bf.e88258"]]},{"id":"262e1445.3d04bc","type":"mcp23017input","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"11","pullUp":true,"invert":true,"debounce":200,"onMsg":true,"offMsg":true,"x":180,"y":1160,"wires":[["77b59672.ee0e38","64a0ec6b.11ec44"]]},{"id":"64a0ec6b.11ec44","type":"trigger","z":"8c58a3eb.6d008","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"900","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":400,"y":1200,"wires":[["77b59672.ee0e38"]]},{"id":"79236451.3e5d1c","type":"blynk-ws-in-write","z":"8c58a3eb.6d008","name":"","pin":"4","pin_all":false,"client":"41eb04a5.18d09c","x":190,"y":1300,"wires":[["57e5d37c.7b4c4c"]]},{"id":"932f5b19.77a268","type":"ui_switch","z":"8c58a3eb.6d008","name":"","label":"4","tooltip":"","group":"86ddfab8.5f3bd8","order":15,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":1360,"wires":[["986b9e8b.76238"]]},{"id":"57e5d37c.7b4c4c","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"blink","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1300,"wires":[["b4629f2b.39a1f"]]},{"id":"489ba519.5a026c","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"dashboard","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1360,"wires":[["b4629f2b.39a1f"]]},{"id":"698e28ee.771418","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"hvPIN","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1420,"wires":[["b4629f2b.39a1f"]]},{"id":"b4629f2b.39a1f","type":"function","z":"8c58a3eb.6d008","name":"","func":"//msg.blink\n//msg.dashboard\n//msg.hvPIN\n\nvar inNumber = '4';\n\n// inhvPINconf массив выходов на которые влияем\nvar inhvPINconf = flow.get('inhvPINconf' + inNumber);\n//inhvPINType тип входа P, S, P&S \n//P - команда выдается при замыкании (0)\n//S - команда выдается при размыкании (1)\n//P&S - команда выдается и при замыкании и при размыкании (2)\nvar inhvPINType = flow.get('inhvPINType' + inNumber);\n\n\nvar out0Name = 'OUT1';\nvar out0 = flow.get(out0Name);\nvar out0Type = flow.get(out0Name+'Type');\n//проверим определен ли тип выключателя\n//0 - тактовая кнопка\n//1 - переключатель\nif( typeof out0Type === 'undefined') {\n    out0Type = 1;\n}\n\nif(msg.blink){\n    //приходит текст \"1\" или \"0\"\n    //обновим состояние входа\n    //node.warn(\"msg.blink: \" + msg.blink);\n    var inBlink = flow.get('inBlink' + inNumber);\n    //node.warn(\"до inBlink: \" + inBlink);\n    if(msg.blink == '1'){\n        inBlink = 1;\n    } else if(msg.blink == '0') {\n        inBlink = 0;\n    }\n    //node.warn(\"после inBlink: \" + inBlink);\n    flow.set('inBlink' + inNumber, inBlink);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inBlink);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inBlink);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inBlink);\n\n    }\n    \n    //node.warn('outhvPIN0 = ' + flow.get('outhvPIN0') + ' ' + 'outhvPIN1 = ' + flow.get('outhvPIN1') );\n\n}\nif(msg.dashboard){\n    //node.warn(\"msg.dashboard: \" + msg.dashboard);\n    var inDashboard = flow.get('inDashboard' + inNumber);\n    inDashboard = 0;\n    if(msg.dashboard == 1){\n        inDashboard = 1;\n    } else if(msg.dashboard === '0') {\n        //почемуто так не работает\n        //node.warn(\"почемуто так не работает\");\n        inDashboard = 0;\n    }\n    flow.set('inDashboard' + inNumber, inDashboard);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inDashboard);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inDashboard);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inDashboard);\n\n    }\n\n    \n}\nif(msg.hvPIN){\n    //node.warn(\"msg.hvPIN: \" + msg.hvPIN);\n    var inhvPIN = flow.get('inhvPIN' + inNumber);\n    inhvPIN = 0;\n    if(msg.hvPIN == 1){\n        inhvPIN = 1;\n    } else if(msg.hvPIN === '0') {\n        //почемуто без кавычек не работает \n        inhvPIN = 0;\n    }\n    flow.set('inhvPIN' + inNumber, inhvPIN);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inhvPIN);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inhvPIN);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inhvPIN);\n\n    }\n\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1360,"wires":[[]]},{"id":"986b9e8b.76238","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1360,"wires":[["489ba519.5a026c"]]},{"id":"870e0156.871fa","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '4';\nvar inDashboard = flow.get('inDashboard' + inNumber);\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\n//if(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n//    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(inDashboard == 1){\n        inDashboard = true;\n    } else {\n        inDashboard = false;\n    }\n    msg1 = { payload: inDashboard };\n    return msg1;\n//}\n\n\n//return null;","outputs":1,"noerr":0,"x":320,"y":1360,"wires":[["932f5b19.77a268"]]},{"id":"4d6592a4.b2a03c","type":"inject","z":"8c58a3eb.6d008","name":"","topic":"","payload":"1","payloadType":"num","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1360,"wires":[["870e0156.871fa"]]},{"id":"436595.50e31a6c","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1420,"wires":[["698e28ee.771418"]]},{"id":"75a90471.aa029c","type":"mcp23017input","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"12","pullUp":true,"invert":true,"debounce":200,"onMsg":true,"offMsg":true,"x":180,"y":1420,"wires":[["436595.50e31a6c","5c33be54.5796f"]]},{"id":"5c33be54.5796f","type":"trigger","z":"8c58a3eb.6d008","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"900","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":400,"y":1460,"wires":[["436595.50e31a6c"]]},{"id":"82ed49c9.99ec68","type":"blynk-ws-in-write","z":"8c58a3eb.6d008","name":"","pin":"5","pin_all":false,"client":"41eb04a5.18d09c","x":190,"y":1560,"wires":[["407dcf79.25b77"]]},{"id":"7ea3e229.afd41c","type":"ui_switch","z":"8c58a3eb.6d008","name":"","label":"5","tooltip":"","group":"86ddfab8.5f3bd8","order":15,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":1620,"wires":[["30c67c26.3b5094"]]},{"id":"407dcf79.25b77","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"blink","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1560,"wires":[["8e13ccd.d50d13"]]},{"id":"441ea6f6.3d0b08","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"dashboard","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1620,"wires":[["8e13ccd.d50d13"]]},{"id":"2a915a5e.b9d286","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"hvPIN","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1680,"wires":[["8e13ccd.d50d13"]]},{"id":"8e13ccd.d50d13","type":"function","z":"8c58a3eb.6d008","name":"","func":"//msg.blink\n//msg.dashboard\n//msg.hvPIN\n\nvar inNumber = '5';\n\n// inhvPINconf массив выходов на которые влияем\nvar inhvPINconf = flow.get('inhvPINconf' + inNumber);\n//inhvPINType тип входа P, S, P&S \n//P - команда выдается при замыкании (0)\n//S - команда выдается при размыкании (1)\n//P&S - команда выдается и при замыкании и при размыкании (2)\nvar inhvPINType = flow.get('inhvPINType' + inNumber);\n\n\nvar out0Name = 'OUT1';\nvar out0 = flow.get(out0Name);\nvar out0Type = flow.get(out0Name+'Type');\n//проверим определен ли тип выключателя\n//0 - тактовая кнопка\n//1 - переключатель\nif( typeof out0Type === 'undefined') {\n    out0Type = 1;\n}\n\nif(msg.blink){\n    //приходит текст \"1\" или \"0\"\n    //обновим состояние входа\n    //node.warn(\"msg.blink: \" + msg.blink);\n    var inBlink = flow.get('inBlink' + inNumber);\n    //node.warn(\"до inBlink: \" + inBlink);\n    if(msg.blink == '1'){\n        inBlink = 1;\n    } else if(msg.blink == '0') {\n        inBlink = 0;\n    }\n    //node.warn(\"после inBlink: \" + inBlink);\n    flow.set('inBlink' + inNumber, inBlink);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inBlink);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inBlink);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inBlink);\n\n    }\n    \n    //node.warn('outhvPIN0 = ' + flow.get('outhvPIN0') + ' ' + 'outhvPIN1 = ' + flow.get('outhvPIN1') );\n\n}\nif(msg.dashboard){\n    //node.warn(\"msg.dashboard: \" + msg.dashboard);\n    var inDashboard = flow.get('inDashboard' + inNumber);\n    inDashboard = 0;\n    if(msg.dashboard == 1){\n        inDashboard = 1;\n    } else if(msg.dashboard === '0') {\n        //почемуто так не работает\n        //node.warn(\"почемуто так не работает\");\n        inDashboard = 0;\n    }\n    flow.set('inDashboard' + inNumber, inDashboard);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inDashboard);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inDashboard);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inDashboard);\n\n    }\n\n    \n}\nif(msg.hvPIN){\n    //node.warn(\"msg.hvPIN: \" + msg.hvPIN);\n    var inhvPIN = flow.get('inhvPIN' + inNumber);\n    inhvPIN = 0;\n    if(msg.hvPIN == 1){\n        inhvPIN = 1;\n    } else if(msg.hvPIN === '0') {\n        //почемуто без кавычек не работает \n        inhvPIN = 0;\n    }\n    flow.set('inhvPIN' + inNumber, inhvPIN);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inhvPIN);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inhvPIN);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inhvPIN);\n\n    }\n\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1620,"wires":[[]]},{"id":"30c67c26.3b5094","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1620,"wires":[["441ea6f6.3d0b08"]]},{"id":"1772925f.942abe","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '5';\nvar inDashboard = flow.get('inDashboard' + inNumber);\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\n//if(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n//    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(inDashboard == 1){\n        inDashboard = true;\n    } else {\n        inDashboard = false;\n    }\n    msg1 = { payload: inDashboard };\n    return msg1;\n//}\n\n\n//return null;","outputs":1,"noerr":0,"x":320,"y":1620,"wires":[["7ea3e229.afd41c"]]},{"id":"cfbac3d0.4cc22","type":"inject","z":"8c58a3eb.6d008","name":"","topic":"","payload":"1","payloadType":"num","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1620,"wires":[["1772925f.942abe"]]},{"id":"4fe3a32f.075a3c","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1680,"wires":[["2a915a5e.b9d286"]]},{"id":"b7e0046f.ba6948","type":"mcp23017input","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"13","pullUp":true,"invert":true,"debounce":200,"onMsg":true,"offMsg":true,"x":180,"y":1680,"wires":[["4fe3a32f.075a3c","82d47af6.2c6eb8"]]},{"id":"82d47af6.2c6eb8","type":"trigger","z":"8c58a3eb.6d008","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"900","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":400,"y":1720,"wires":[["4fe3a32f.075a3c"]]},{"id":"222993ca.85d91c","type":"blynk-ws-in-write","z":"8c58a3eb.6d008","name":"","pin":"6","pin_all":false,"client":"41eb04a5.18d09c","x":190,"y":1820,"wires":[["4ac16ed0.e4fb1"]]},{"id":"13b08e49.7fdab2","type":"ui_switch","z":"8c58a3eb.6d008","name":"","label":"6","tooltip":"","group":"86ddfab8.5f3bd8","order":15,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":1880,"wires":[["1174bd03.86cb93"]]},{"id":"4ac16ed0.e4fb1","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"blink","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1820,"wires":[["ca61f326.9dbc2"]]},{"id":"30cf6b5.f768094","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"dashboard","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1880,"wires":[["ca61f326.9dbc2"]]},{"id":"5a592627.cedc18","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"hvPIN","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1940,"wires":[["ca61f326.9dbc2"]]},{"id":"ca61f326.9dbc2","type":"function","z":"8c58a3eb.6d008","name":"","func":"//msg.blink\n//msg.dashboard\n//msg.hvPIN\n\nvar inNumber = '6';\n\n// inhvPINconf массив выходов на которые влияем\nvar inhvPINconf = flow.get('inhvPINconf' + inNumber);\n//inhvPINType тип входа P, S, P&S \n//P - команда выдается при замыкании (0)\n//S - команда выдается при размыкании (1)\n//P&S - команда выдается и при замыкании и при размыкании (2)\nvar inhvPINType = flow.get('inhvPINType' + inNumber);\n\n\nvar out0Name = 'OUT1';\nvar out0 = flow.get(out0Name);\nvar out0Type = flow.get(out0Name+'Type');\n//проверим определен ли тип выключателя\n//0 - тактовая кнопка\n//1 - переключатель\nif( typeof out0Type === 'undefined') {\n    out0Type = 1;\n}\n\nif(msg.blink){\n    //приходит текст \"1\" или \"0\"\n    //обновим состояние входа\n    //node.warn(\"msg.blink: \" + msg.blink);\n    var inBlink = flow.get('inBlink' + inNumber);\n    //node.warn(\"до inBlink: \" + inBlink);\n    if(msg.blink == '1'){\n        inBlink = 1;\n    } else if(msg.blink == '0') {\n        inBlink = 0;\n    }\n    //node.warn(\"после inBlink: \" + inBlink);\n    flow.set('inBlink' + inNumber, inBlink);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inBlink);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inBlink);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inBlink);\n\n    }\n    \n    //node.warn('outhvPIN0 = ' + flow.get('outhvPIN0') + ' ' + 'outhvPIN1 = ' + flow.get('outhvPIN1') );\n\n}\nif(msg.dashboard){\n    //node.warn(\"msg.dashboard: \" + msg.dashboard);\n    var inDashboard = flow.get('inDashboard' + inNumber);\n    inDashboard = 0;\n    if(msg.dashboard == 1){\n        inDashboard = 1;\n    } else if(msg.dashboard === '0') {\n        //почемуто так не работает\n        //node.warn(\"почемуто так не работает\");\n        inDashboard = 0;\n    }\n    flow.set('inDashboard' + inNumber, inDashboard);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inDashboard);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inDashboard);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inDashboard);\n\n    }\n\n    \n}\nif(msg.hvPIN){\n    //node.warn(\"msg.hvPIN: \" + msg.hvPIN);\n    var inhvPIN = flow.get('inhvPIN' + inNumber);\n    inhvPIN = 0;\n    if(msg.hvPIN == 1){\n        inhvPIN = 1;\n    } else if(msg.hvPIN === '0') {\n        //почемуто без кавычек не работает \n        inhvPIN = 0;\n    }\n    flow.set('inhvPIN' + inNumber, inhvPIN);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inhvPIN);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inhvPIN);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inhvPIN);\n\n    }\n\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1880,"wires":[[]]},{"id":"1174bd03.86cb93","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1880,"wires":[["30cf6b5.f768094"]]},{"id":"bd831a2.8e4bde8","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '6';\nvar inDashboard = flow.get('inDashboard' + inNumber);\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\n//if(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n//    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(inDashboard == 1){\n        inDashboard = true;\n    } else {\n        inDashboard = false;\n    }\n    msg1 = { payload: inDashboard };\n    return msg1;\n//}\n\n\n//return null;","outputs":1,"noerr":0,"x":320,"y":1880,"wires":[["13b08e49.7fdab2"]]},{"id":"1ea98808.eb6a68","type":"inject","z":"8c58a3eb.6d008","name":"","topic":"","payload":"1","payloadType":"num","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1880,"wires":[["bd831a2.8e4bde8"]]},{"id":"38f71c5b.d46774","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1940,"wires":[["5a592627.cedc18"]]},{"id":"4cdc9ed5.b756a","type":"mcp23017input","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"14","pullUp":true,"invert":true,"debounce":200,"onMsg":true,"offMsg":true,"x":180,"y":1940,"wires":[["38f71c5b.d46774","b402ff80.9e8b1"]]},{"id":"b402ff80.9e8b1","type":"trigger","z":"8c58a3eb.6d008","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"900","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":400,"y":1980,"wires":[["38f71c5b.d46774"]]},{"id":"ec315c44.3afa9","type":"blynk-ws-in-write","z":"8c58a3eb.6d008","name":"","pin":"7","pin_all":false,"client":"41eb04a5.18d09c","x":190,"y":2080,"wires":[["335eca6.8946836"]]},{"id":"bdc2a609.157088","type":"ui_switch","z":"8c58a3eb.6d008","name":"","label":"7","tooltip":"","group":"86ddfab8.5f3bd8","order":15,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":2140,"wires":[["b55ad3d7.a4ff8"]]},{"id":"335eca6.8946836","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"blink","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2080,"wires":[["d9e4e1a7.18789"]]},{"id":"8d8efa67.665068","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"dashboard","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2140,"wires":[["d9e4e1a7.18789"]]},{"id":"87133013.c9b02","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"hvPIN","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2200,"wires":[["d9e4e1a7.18789"]]},{"id":"d9e4e1a7.18789","type":"function","z":"8c58a3eb.6d008","name":"","func":"//msg.blink\n//msg.dashboard\n//msg.hvPIN\n\nvar inNumber = '7';\n\n// inhvPINconf массив выходов на которые влияем\nvar inhvPINconf = flow.get('inhvPINconf' + inNumber);\n//inhvPINType тип входа P, S, P&S \n//P - команда выдается при замыкании (0)\n//S - команда выдается при размыкании (1)\n//P&S - команда выдается и при замыкании и при размыкании (2)\nvar inhvPINType = flow.get('inhvPINType' + inNumber);\n\n\nvar out0Name = 'OUT1';\nvar out0 = flow.get(out0Name);\nvar out0Type = flow.get(out0Name+'Type');\n//проверим определен ли тип выключателя\n//0 - тактовая кнопка\n//1 - переключатель\nif( typeof out0Type === 'undefined') {\n    out0Type = 1;\n}\n\nif(msg.blink){\n    //приходит текст \"1\" или \"0\"\n    //обновим состояние входа\n    //node.warn(\"msg.blink: \" + msg.blink);\n    var inBlink = flow.get('inBlink' + inNumber);\n    //node.warn(\"до inBlink: \" + inBlink);\n    if(msg.blink == '1'){\n        inBlink = 1;\n    } else if(msg.blink == '0') {\n        inBlink = 0;\n    }\n    //node.warn(\"после inBlink: \" + inBlink);\n    flow.set('inBlink' + inNumber, inBlink);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inBlink);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inBlink);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inBlink);\n\n    }\n    \n    //node.warn('outhvPIN0 = ' + flow.get('outhvPIN0') + ' ' + 'outhvPIN1 = ' + flow.get('outhvPIN1') );\n\n}\nif(msg.dashboard){\n    //node.warn(\"msg.dashboard: \" + msg.dashboard);\n    var inDashboard = flow.get('inDashboard' + inNumber);\n    inDashboard = 0;\n    if(msg.dashboard == 1){\n        inDashboard = 1;\n    } else if(msg.dashboard === '0') {\n        //почемуто так не работает\n        //node.warn(\"почемуто так не работает\");\n        inDashboard = 0;\n    }\n    flow.set('inDashboard' + inNumber, inDashboard);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inDashboard);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inDashboard);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inDashboard);\n\n    }\n\n    \n}\nif(msg.hvPIN){\n    //node.warn(\"msg.hvPIN: \" + msg.hvPIN);\n    var inhvPIN = flow.get('inhvPIN' + inNumber);\n    inhvPIN = 0;\n    if(msg.hvPIN == 1){\n        inhvPIN = 1;\n    } else if(msg.hvPIN === '0') {\n        //почемуто без кавычек не работает \n        inhvPIN = 0;\n    }\n    flow.set('inhvPIN' + inNumber, inhvPIN);\n    \n    //далее изменим состояние выходных пинов\n    //inhvPINconf\n    for(var i = 0; i < inhvPINconf.length; i++) {\n        var pinConf = inhvPINconf[i];\n        //node.warn(\"pinConf: \" + pinConf);\n        var outhvPIN = flow.get('outhvPIN' + pinConf);\n        flow.set('outhvPIN' + pinConf, inhvPIN);\n        \n        //изменим переключатель в дашборде\n        flow.set('inDashboard' + pinConf, inhvPIN);\n        //изменим переключатель в блинк\n        flow.set('inBlink' + pinConf, inhvPIN);\n\n    }\n\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2140,"wires":[[]]},{"id":"b55ad3d7.a4ff8","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2140,"wires":[["8d8efa67.665068"]]},{"id":"e625dd15.518c4","type":"function","z":"8c58a3eb.6d008","name":"outX != outXOld","func":"//var out0Name = 'OUT0';\n//var out0 = flow.get(out0Name);\n//var out0Old = flow.get(out0Name+'OLD');\n//var out0Type = flow.get(out0Name+'Type');\n\n//if( typeof out0Type === 'undefined') {\n//    out0Type = 1;\n//}\n//if(out0 != out0Old || out0Old === 'undefined') {\n        \n//    flow.set(out0Name+'OLD',out0);\n//    msg1 = { payload: out0 };\n//    return msg1;\n//}\n\n\nvar inNumber = '7';\nvar inDashboard = flow.get('inDashboard' + inNumber);\n//var outhvPINOLD = flow.get('outhvPINOLD' + inNumber);\n//if(outhvPIN != outhvPINOLD || outhvPINOLD === 'undefined') {\n        \n//    flow.set('outhvPINOLD' + inNumber, outhvPIN);\n    //инвертируем для выхода\n    if(inDashboard == 1){\n        inDashboard = true;\n    } else {\n        inDashboard = false;\n    }\n    msg1 = { payload: inDashboard };\n    return msg1;\n//}\n\n\n//return null;","outputs":1,"noerr":0,"x":320,"y":2140,"wires":[["bdc2a609.157088"]]},{"id":"b22ab9c2.f91248","type":"inject","z":"8c58a3eb.6d008","name":"","topic":"","payload":"1","payloadType":"num","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2140,"wires":[["e625dd15.518c4"]]},{"id":"e85d2178.bc81e","type":"change","z":"8c58a3eb.6d008","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2200,"wires":[["87133013.c9b02"]]},{"id":"6936ce67.19c0e","type":"mcp23017input","z":"8c58a3eb.6d008","name":"","chip":"95c78f3f.612fe","bitNum":"15","pullUp":true,"invert":true,"debounce":200,"onMsg":true,"offMsg":true,"x":180,"y":2200,"wires":[["e85d2178.bc81e","a4ff4e4b.84c4a"]]},{"id":"a4ff4e4b.84c4a","type":"trigger","z":"8c58a3eb.6d008","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"900","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":400,"y":2240,"wires":[["e85d2178.bc81e"]]},{"id":"95c78f3f.612fe","type":"mcp23017chip","z":"","addr":"0x27","interval":"100","dev":"0"},{"id":"41eb04a5.18d09c","type":"blynk-ws-client","z":"","name":"","path":"ws://blynk-cloud.com/websockets","key":"bI3pCiqQ-yCvH15MHlseCdcPkbdd9p_k","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"86ddfab8.5f3bd8","type":"ui_group","z":"","name":"Свет","tab":"47975452.a460ac","disp":true,"width":"4","collapse":false},{"id":"47975452.a460ac","type":"ui_tab","z":"","name":"ArtHome","icon":"dashboard","disabled":false,"hidden":false}]